.not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.685);
    animation: colorText 20s linear infinite;
    transition: all .2s linear;
    @media screen and(max-width:920px) {
        font-size: 2.5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.685);
        text-align: center;
        line-height: 3rem;
    }

    @keyframes colorText {
        0% {
            color: rgba(0, 0, 0, 0.685);
        }

        25% {
            color: rgb(255, 107, 107);
        }

        50% {
            color: rgb(101, 255, 101);
        }
        75%{
            color: rgb(41, 41, 255);
        }

        100%{
            color: rgba(0, 0, 0, 0.685);
        }
    }
}